body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg,#e0f2fe,#e5e7eb);
    text-align: center;
    padding-top: 80px;
}

.navbar {
    width: 100%;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

.navbar h2 {
    margin: 0;
}

.navbar a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 60px;
    color: black;
    font-size: 18px;
}

.checkmark {
    width: 140px;
    display: block;
    margin: 30px auto;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
}